Book a space
<br>
<br>
<form action='/book' method='post'>
  <label for='booking_space'>
    Name of space
    <input type='text' name='booking_space'>
  </label>
  <br>
  <br>
  <label for='date'>
    Date please (DDMMYYYY)
    <input type='date' name='date'>
  </label>
  <input type='submit' value='Book'>
</form>
