
<!DOCTYPE html>
  <head>
    <title>Bookings </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='bookings'>

Here are ya fucking bookings

<form action ='/portal'>
  <button class='submit' type='submit'>Portal</button>

</form>
</body>
</html>

