
<!DOCTYPE html>
  <head>
    <title>Bookings </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='bookings'>

Here are ya fucking bookings

<% @bookings.each do |booking|%>
  Booking ID: <%= booking.bookings_id %>
  <br>
  Date: <%= booking.date %> 
  
  <br>
  <a> <img src = <%=  %> style="width:7em; height:8em;"> </a>
  <br>

<%end%>

<form action ='/portal'>
  <input type='submit' value='Portal'>

</form>
</body>
</html>

