<!DOCTYPE html>
  <head>
    <title>Book a space </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/book">
  </head>
<body id='book'>
<h1>Book a space</h1>
<br>
<br>
<form action='/book' method='post'>
  <label for='booking_space'>

    You are booking <%= @space_name %>

  </label>
  <br>
  <br>
  <label for='date'>
    Date please<br>
    <input type='date' name='date'>
  </label><br><br>
  <button class ='submit' type='submit'>Finalise Booking</button>
</form>
</body>
</html>
