<!DOCTYPE html>
  <head>
    <title>Booked! </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/booked">
  </head>
<body id='booked'>
Congrats, you've booked REDACTED for the date(s) REDACTED

<form action ='/portal'>
  <input type='submit' value='I wanna go home'>
</form>
</body>
</html>