<!DOCTYPE html>
  <head>
    <title> Toad Hall </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/">
  </head>
  <body id='home'>
  <div id='header'>
    <h1>Welcome to Toad Hall, it's Toad-ally shit</h1>
  </div>
  <div id='signup'>
  <form action='/signup' method='get'>
    <input type='submit' value='Sign Up'>
  </form>
  </div>
  <div id='login'>
  <form action='/login/new' method='get'>
    <input type='submit' value='Login'>
  </form>
  <div>
  </body>
</html>
