<!DOCTYPE html>
  <head>
    <title> Toad Hall </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/">
  </head>
  <body>
  <div id='header'>
    Welcome to Toad Hall, it's Toad-ally the shit
  </div>
  <form action='/signup' method='get'>
    <input type='submit' value='Sign Up'>
  </form>
  <form action='/login/new' method='get'>
    <input type='submit' value='Login'>
  </form>
</html>
