I got the list in the erbbbbb
<br>

<% @space.each do |space|%>
  Name: <%= space.space_name%>
  <br>
  City: <%= space.city%>
  <br>
  Description: <%= space.description%>
  <br>
  Price per night: <%= space.ppn%>
  <br>
  <br>
<%end%>

<form action='/book'>
  <input type='submit' value='Book Book Book'>
</form>

<form action='/portal'>
  <input type='submit' value='Take Me Home Country Road'>
</form>