<h2> Login Here </h2>
<form action='/portal' method='post'>
  <label for='user_name'>
    Username
    <input type='text' name='user_name'>
  </label>
  <label for='password'>
    Password
    <input type='password' name ='password'>
  </label>
  <input type='submit' value='Login'>
</form>