<h2> login here </h2>
<form action='/portal' method='post'>
  <label for='username'>
    username
    <input type='text' name='username'>
  </label>
  <label for='password'>
    password
    <input type='text' name='password'>
  </label>
  <input type='submit' value='Login'>
</form>