<!DOCTYPE html>
  <head>
    <title>Portal </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='portal'>
<div id='greet'><h1>Its A Portal</h1>
Sup toad <%= @user_name %></div>
<br><br><br><br><br><br><br><br>
<form action='/list'>
<input type='submit' value='List of Properties'>
</form>
<form action='/new'>
  <input type='submit' value='List a New Property'>
</form>
<form action='/bookings'>
  <input type='submit' value='Go to bookings'>
</form>
<form action='/logout' method='post'>
  <input type='submit' value='Log out'>
</form>
</body>
</html>
