Its A Portal
<br>
<br>
<br>
Sup toad <%= @user_name %>
<form action='/list'>
<input type='submit' value='List of Properties'>
</form>
<form action='/new'>
<input type='submit' value='List a New Property'>
</form>
<form action='/logout' method='post'>
<input type='submit' value='Log out'>
</form>