<h1> Sign up </h1>
<form action='/congrats' method='get'>
  <label for='username'>
    username
    <input type='text' name='username'>
  </label>
  <label for='password'>
    password
    <input type='text' name='username'>
  </label>
  <input type='submit' name='Join!'>
</form>
