<h1> Sign up </h1>
<form action='/signup' method='post'>
  <label for='user_name'>
    user_name
    <input type='text' name='user_name'>
  </label>
  <label for='password'>
    Password
    <input type='password' name='password'>
  </label>
  <input type='submit' name='Join!'>
</form>
