<h1> Sign up </h1>
<form action='/congrats' method='post'>
  <label for='username'>
    Username
    <input type='text' name='user_name'>
  </label>
  <label for='password'>
    Password
    <input type='text' name='password'>
  </label>
  <input type='submit' name='Join!'>
</form>
