<!DOCTYPE html>
  <head>
    <title>Ruh Roh </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/error">
  </head>
<body id='error'>
<h2>
  "Please check you username or password: "
</h2>

<form action='/login/new' method='get'>
  <button class='submit' type='submit'>Back to Login </button>
</form>
