<!DOCTYPE html>
  <head>
    <title>See ya </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/loggedout">
  </head>
<body id='out'>
<h2>
  "You are now Logged Out. Goodbye."
</h2>

<form action='/login/new' method='get'>
  <button class='submit' type='submit'>Back to Login</button>
</form>
