<!DOCTYPE html>
  <head>
    <title>Login </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='new'>
<h2> Login Here </h2>
<form action='/login' method='post'>
  <label for='user_name'>
    Username
    <input type='text' name='user_name'>
  </label>
  <label for='password'>
    Password
    <input type='password' name ='password'>
  </label>
  <input type='submit' value='Login'>
</form>
</body>
</html>