
<!DOCTYPE html>
  <head>
    <title>Login </title>
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <base href="/list">
  </head>
<body id='new'>
<h2> Login Here </h2>

<form action='/login' method='post'>
  <label for='user_name'>
    Username<br>
    <input type='text' name='user_name'>
  </label>
  <br><br>
  <label for='password'>
    Password<br>
    <input type='password' name ='password'>
  </label>
  <br>
    <button class='submit' type='submit'>Login</button>
</form>
</body>
</html>