<h1> Login Here </h1>

<h2>
  
</h2>

<form action='/login' method='post'>
  <label for='user_name'>
    Username
    <input type='text' name='user_name'>
  </label>
  <label for='password'>
    Password
    <input type='password' name ='password'>
  </label>
  <input type='submit' value='Login'>
</form>