<h1>Create a property!!!</h1>

<form action='/portal' method='post'>
  <label for='space_name'>
    Name Your Space:
    <input type='text' name='space_name'>
  </label>
  <br>
  <br>
  <label for='city'>
    Where Is It?
    <input type='text' name='city'>
  </label>
  <br>
  <br>
    <label for='description'>
    Tell Me About The Place...
    <input type='text' name='description'>
  </label>
  <br>
  <br>
    <label for='ppn'>
    Price Per Night
    <input type='text' name='ppn'>
  </label>
  <br>
  <br>
  <input type='submit' value='Post'>
</form>